* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/backgroundhunt.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar a:hover {
    color: rgb(230, 122, 122);
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.rifle-wrapper {
    margin: 0 auto;
    width: 70em;
    margin-top: 5em;
}

.rifle-container {
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.7em 0.6em;
    border: solid 1px rgb(129, 129, 129);
    justify-content: space-between;
    margin-bottom: 1em;
}

.weapon-name {
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.weapon-name img {
    width: 20em;
    height: 4.5em;
}

.weapon-name p {
    margin-left: 2px;
}

.weapon-stats-left {
    width: 18%;
    height: 4.5em;
    position: relative;
}

.weapon-stats-middle {
    width: 18%;
    height: 4.5em;
    position: relative;
}

.weapon-stats-right {
    width: 18%;
    height: 4.5em;
    position: relative;
}

.weapon-top {
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.11em;
}

.weapon-top span {
    position: absolute;
    right: 0;
}

.weapon-bottom {
    margin-bottom: 1em;
}

.gray-line {
    width: 100%;
    height: 0.3em;
    background-color: gray;
    position: absolute;
}

.red-line {
    width: 100%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-rof {
    width: 25%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-handling {
    width: 41%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-velocity {
    width: 40%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-melee {
    width: 27%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-heavymelee {
    width: 30%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-reload {
    width: 30%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-cost {
    width: 80%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-damage-sparks {
    width: 45%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-range-sparks {
    width: 100%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-rof-sparks {
    width: 13%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-handling-sparks {
    width: 73%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-velocity-sparks {
    width: 85%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-melee-sparks {
    width: 27%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-heavymelee-sparks {
    width: 30%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-reload-sparks {
    width: 30%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-cost-sparks {
    width: 10%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-damage-sparks2 {
    width: 45%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-range-sparks2 {
    width: 65%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-rof-sparks2 {
    width: 13%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-handling-sparks2 {
    width: 71%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-velocity-sparks2 {
    width: 55%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-melee-sparks2 {
    width: 27%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-heavymelee-sparks2 {
    width: 30%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-reload-sparks2 {
    width: 30%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-cost-sparks2 {
    width: 12%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-damage-sparks3 {
    width: 45%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-range-sparks3 {
    width: 100%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-rof-sparks3 {
    width: 13%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-handling-sparks3 {
    width: 70%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-velocity-sparks3 {
    width: 85%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-melee-sparks3 {
    width: 27%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-heavymelee-sparks3 {
    width: 30%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-reload-sparks3 {
    width: 30%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.red-line-cost-sparks3 {
    width: 15%;
    height: 0.3em;
    background-color: red;
    position: absolute;
    z-index: 1;
}